<!-- Footer top section -->
<section class="footer-top-section">
    <div class="container">
        <div class="footer-top-bg">
            <img src="../../assets/img/footer-top-bg.png" alt="">
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo text-white hvr-grow">
                    <img src="../../assets/img/shield news.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mb-5 mb-md-0">
                    <h4 class="fw-title">Latest Posts</h4>
                    <div class="latest-blog">
                        <div class="lb-item">
                            <div class="lb-thumb set-bg" style="background-image: url(../../assets/img/starfield.png);">
                            </div>
                            <div class="lb-content">
                                <div class="lb-date">Starfield Review</div>
                                <p>Alright everybody, strap yourselves in. This is gonna be a bumpy ride. </p>
                                <a style="text-decoration: none;" class="lb-author">By Seif</a>
                            </div>
                        </div>
                        <div class="lb-item pt-3">
                            <div class="lb-thumb set-bg" style="background-image: url(../../assets/img/BG3.jpg);"></div>
                            <div class="lb-content">
                                <div class="lb-date">Minthara is finally getting the justice she deserves.</div>
                                <p>Baldur’s Gate 3 Devs Will Address ‘Very Stupid Bug’ Blocking 1500 Lines of Minthara
                                    Content</p>
                                <a style="text-decoration: none;" class="lb-author">By Abdallah</a>
                            </div>
                        </div>
                        <div class="lb-item">
                            <div class="lb-thumb set-bg" style="background-image: url(../../assets/img/W4.jpg);"></div>
                            <div class="lb-content">
                                <div class="lb-date">A big development boost is coming.</div>
                                <p>The Witcher 4 Development Getting Big Boost From Cyberpunk Team Once Phantom Liberty
                                    Launches</p>
                                <a style="text-decoration: none;" class="lb-author">By Marwa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h4 class="fw-title">Top Comments</h4>
                    <div class="top-comment">
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" style="background-image: url(../../assets/img/seif.png);"></div>
                            <div class="tc-content">
                                <p><span style="color: #b585dd;">Seifeldin Mostafa</span> <span>on</span> Ah. I guess this won't be one of those
                                    wide-reaching with the mass audience games, but it sounds perfect for what I'm
                                    personally looking for.</p>
                                <div class="tc-date">September 2, 2023</div>
                            </div>
                        </div>
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" style="background-image: url(../../assets/img/marwa.png);"></div>
                            <div class="tc-content">
                                <p><span style="color: #b585dd;">Marwa Magdy</span> <span>on</span> I have a bad feeling that they're going
                                    to take the Netflix approach of trying to shoehorn modern elements into a non-modern
                                    setting with TW4.</p>
                                <div class="tc-date">September 1, 2022</div>
                            </div>
                        </div>
                        <div class="tc-item">
                            <div class="tc-thumb set-bg" style="background-image: url(../../assets/img/Abdallah.png);"></div>
                            <div class="tc-content">
                                <p> <span style="color: #b585dd;">Abdallah Adel</span> <span>on</span> Having just started act 3, I think I
                                    will pause until this patch comes out</p>
                                <div class="tc-date">August 29, 2021</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer top section end -->


<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <p class="copyright d-flex justify-content-center">
            Copyright &copy; All rights reserved
        </p>
    </div>
</footer>
<!-- Footer section end -->