	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="">
				<img src="../../assets/img/shield news.png" alt="">
			</a>
			<div class="user-panel">
				<a href="#">Login</a>  /  <a href="#">Register</a>
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a routerLink="">Home</a></li>
					<li><a routerLink="games">Games</a></li>
					<li><a routerLink="blog">Blog</a></li>
					<li><a routerLink="forums">Forums</a></li>
					<li><a routerLink="contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->
