	<!-- Header section -->
	<header class="header-section">
		<div class="container ">
			<!-- logo -->
			<a class="site-logo hvr-grow"href="">
				<img src="../../assets/img/shield news.png" alt="" >
			</a>
			<div class="hvr-push user-panel">
				<a class="hvr-push" href="#">Login</a>  /  <a class="hvr-push" href="#">Register</a>
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu ">
				<ul>
					<li><a routerLink="" class="hvr-grow">Home</a></li>
					<li><a routerLink="games" class="hvr-grow">Games</a></li>
					<li><a routerLink="blog" class="hvr-grow">Blog</a></li>
					<li><a routerLink="forums" class="hvr-grow">Forums</a></li>
					<li><a routerLink="contact" class="hvr-grow">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->
