<!-- Latest news section -->
<div class="latest-news-section">
    <div class="ln-title">Latest News</div>
    <ul class="news-ticker-contant">
        <li class="nt-item"><span class="new">new</span>Highly-Anticipated Game 'Cyberverse' Release Date Announced!
        </li>
        <li class="nt-item"><span class="strategy">strategy</span>New Real-Time Strategy Game 'Epoch Wars' Offers
            Tactical Brilliance! </li>
        <li class="nt-item"><span class="racing">racing</span>'Velocity Rush' Racing Game Revs Up Excitement with
            Thrilling Tracks and High-Speed Action!</li>
    </ul>
</div>
<!-- Latest news section end -->


<!-- Page info section -->
<section class="page-info-section set-bg" style="background-image: url(../../assets/img/page-top-bg/4.jpg);">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Our Community</h2>
                    <p>Join our gaming community, where players unite to share updates, achievements, and insights.
                        Engage in discussions, discover strategies, and connect with like-minded gamers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->


<!-- Page section -->
<section class="page-section community-page set-bg" style="background-image: url(../../assets/img/community-bg.jpg);">
    <div class="community-warp spad">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="community-top-title">All Members (344)</h3>
                </div>
                <div class="col-md-6 text-lg-right">
                    <form class="community-filter">
                        <label for="fdf5">Show</label>
                        <select id="fdf5">
                            <option value="#">Everything</option>
                            <option value="#">Everything</option>
                        </select>
                    </form>
                </div>
            </div>
            <ul class="community-post-list">
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/1.jpg);"></div>
                        <div class="post-content">
                            <h5>James Smith<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>Finally reached level 100 in the latest MMO. It's been an incredible journey, filled
                                with intense battles, challenging quests, and unforgettable moments. Now that I've
                                conquered the leveling grind, I can't wait to dive into the endgame content and take on
                                the toughest raids. Any tips or suggestions for a newly minted level 100 adventurer?</p>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/8.jpg);"></div>
                        <div class="post-content">
                            <h5>Partik Williams<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>Stumbled upon a hidden gem in the gaming world, and I couldn't resist sharing it with all
                                of you. I recently discovered this incredibly relaxing indie game with stunning visuals,
                                captivating music, and an enchanting storyline. If you're
                                looking for a chilled gaming experience that soothes the soul, I highly recommend giving
                                it a try. Let's discuss our favorite indie games and share our hidden gems!</p>
                            <div class="attachment-file">
                                <img src="../../assets/img/attachment.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/5.jpg);"></div>
                        <div class="post-content">
                            <h5>Cris The Man<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>Found an amazing hidden easter egg in the new open-world adventure game. It's like a
                                blast from
                                the past, a nostalgic reference to a classic game from the '90s. I won't spoil the
                                surprise, but I can say that it brought back so many memories and put a huge smile on my
                                face. It's incredible how developers sprinkle these little gems for us to discover. Have
                                any of you found any other cool easter eggs lately? </p>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/1.jpg);"></div>
                        <div class="post-content">
                            <h5>James Smith<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p> Just wanted to share my latest racing achievement. I managed to set a new personal
                                record in a time trial race in my favorite racing game. It took countless hours of
                                practice, perfecting every corner, and nailing those hairpin turns. Now, I'm itching for
                                some friendly competition. So, who's up for the challenge? Let's see if you can beat my
                                lightning-fast lap time! </p>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/4.jpg);"></div>
                        <div class="post-content">
                            <h5>Cris The Man<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>I've been working tirelessly on crafting the ultimate deck in the popular card game, and
                                I'm thrilled to share my in-depth guide with all of you. This guide covers everything
                                from deckbuilding strategies to card synergies and optimal playstyles. With this
                                unbeatable strategy, you'll be able to crush your opponents and rise to the top of the
                                leaderboards. Let's discuss and refine our strategies together!</p>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/6.jpg);"></div>
                        <div class="post-content">
                            <h5>James Smith<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>On the hunt for a skilled team of players to tackle a challenging co-op mission in the
                                upcoming shooter game. Cooperation, coordination, and communication are the keys to
                                victory. Let's strategize, plan our roles, and dominate the battlefield together. If
                                you're interested in joining forces, drop a comment below, and let's embark on this
                                thrilling co-op adventure!</p>
                        </div>
                    </div>
                </li>
                <li class="hvr-grow">
                    <div class="community-post">
                        <div class="author-avator set-bg" style="background-image: url(../../assets/img/authors/7.jpg);"></div>
                        <div class="post-content">
                            <h5>Maria Doe<span>posted an update</span></h5>
                            <div class="post-date">June 21, 2018</div>
                            <p>Delving deep into the hidden mysteries and secrets surrounding the recently revealed
                                character in the latest game trailer. The tantalizing glimpses and cryptic hints have
                                sparked my curiosity, and I can't help but speculate about their origins, motivations,
                                and connections to the game's lore. Join me in this enthralling discussion as we unravel
                                the enigma together. What are your theories and speculations?</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="site-pagination sp-style-2">
                <span class="active hvr-grow">01.</span>
            </div>
        </div>
    </div>
</section>
<!-- Page section end -->