<!-- Latest news section -->
<div class="latest-news-section">
	<div class="ln-title">Latest News</div>
	<div class="news-ticker">
		<div class="news-ticker-contant">
			<div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
			<div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit.
			</div>
			<div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
	</div>
</div>
<!-- Latest news section end -->


<!-- Page info section -->
<section class="page-info-section set-bg" style="background-image: url(../../assets/img/page-top-bg/3.jpg);">
	<div class="pi-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6 text-white">
					<h2>Game reviews</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page info section -->


<!-- Page section -->
<div class="page-section review-page spad" *ngIf="gameReviews">
	<div class="container">
		<div class="row">
			<div class="col-md-6" *ngFor="let review of gameReviews ;let i=index">
				<a class="text-decoration-none" [href]="sanitize(review['site_detail_url'].__cdata)" target="_blank">

				<div class="review-item" *ngIf="i >= 4 && i <12">
					<div class="review-cover set-bg" Style="background-image: url(../../assets/img/G_Spot2.jpg);">
						<div class="score yellow">{{review['score']}}</div>
					</div>
					<div class="review-text">
						<h4>{{review['title'].__cdata}}</h4>

						<p>{{review['deck'].__cdata}}</p>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>

</div>

<!-- Page section end -->


<!-- Review section -->
<section class="review-section review-dark spad set-bg"
	style="background-image: url(../../assets/img/review-bg-2.jpg);">
	<div class="container">
		<div class="section-title text-white">
			<div class="cata new">new</div>
			<h2>Recent Reviews</h2>
		</div>
		<div class="row text-white" *ngIf="gameReviews">
			<div class="col-lg-3 col-md-6" *ngFor="let rnews of gameReviews; let i = index">
				<a class="text-decoration-none" [href]="sanitize(rnews['site_detail_url'].__cdata)" target="_blank">

					<div class="review-item" *ngIf="i < 4">
						<div class="review-cover set-bg" Style="background-image: url(../../assets/img/G_Spot.jpg);">
							<div class="score yellow">{{rnews['score']}}</div>
						</div>
						<div class="review-text">
							<h5>{{rnews['title'].__cdata}}</h5>
							<p>{{rnews['deck'].__cdata}}</p>
						</div>
					</div>
					<!-- Review section end -->
				</a>
			</div>
		</div>
	</div>
</section>