<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg">
			<iframe width="100%" height="865px"
				src="https://www.youtube.com/embed/rqvCz_rnEMY?si=hdINf_Wewz_VK7w4&autoplay=1&mute=1&amp;controls=0"
				title="YouTube video player" frameborder="0">
			</iframe>
		</div>
		<div class="hs-item set-bg" style="background-image: url(../../assets/img/slider-1.jpg);">
			<div class="hs-text">
				<div class="container">
					<h2>The Best <span>Games</span> Out There</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus
						mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus
						finibus.</p>
					<a href="#" class="site-btn">Read More</a>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" style="background-image: url(../../assets/img/slider-2.jpg);">
			<div class="hs-text">
				<div class="container">
					<h2>The Best <span>Games</span> Out There</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada <br> lorem maximus
						mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. <br>Suspendisse cursus faucibus
						finibus.</p>
					<a href="#" class="site-btn">Read More</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero section end -->


<!-- Latest news section -->
<div class="latest-news-section">
	<div class="ln-title">Latest News</div>
	<div class="news-ticker">
		<div class="news-ticker-contant">
			<div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
			<div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit.
			</div>
			<div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
	</div>
</div>
<!-- Latest news section end -->


<!-- Feature section -->
<section class="feature-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 p-0">
				<div class="feature-item set-bg" style="background-image: url(../../assets/img/features/1.jpg);">
					<span class="cata new">new</span>
					<div class="fi-content text-white">
						<h5><a href="#">World Of Warcraft</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 p-0">
				<div class="feature-item set-bg" style="background-image: url(../../assets/img/features/2.jpg);">
					<span class="cata strategy">strategy</span>
					<div class="fi-content text-white">
						<h5><a href="#">Justo tempor, rutrum erat id, molestie</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 p-0">
				<div class="feature-item set-bg" style="background-image: url(../../assets/img/features/3.jpg);">
					<span class="cata new">new</span>
					<div class="fi-content text-white">
						<h5><a href="#">Nullam lacinia ex eleifend orci porttitor</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 p-0">
				<div class="feature-item set-bg" style="background-image: url(../../assets/img/features/4.jpg);">
					<span class="cata racing">racing</span>
					<div class="fi-content text-white">
						<h5><a href="#">Lacinia ex eleifend orci suscipit</a></h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Feature section end -->


<!-- Recent game section  -->
<section class="recent-game-section spad set-bg" data-setbg="../../assets/img/recent-game-bg.png">
	<div class="container">
		<div class="section-title">
			<div class="cata new">Highly rated</div>
			<h2>Popular Games</h2>
		</div>
		<div class="row" *ngIf="gamingNews">
			<div class="col-lg-4 col-md-6" *ngFor="let gnews of gamingNews; let i = index">
				<div class="recent-game-item" *ngIf="i < 9">
					<div class="rgi-thumb set-bg" [ngStyle]="{ 'background-image': 'url(' + gnews['background_image'] + ')'}">
						<div class="cata new">Highly rated</div>
					</div>
					<div class="rgi-content">
						<h5>{{gnews['name']}}</h5>
						<p>{{gnews['released']}}</p>
						<div class="rgi-extra">
							<div class="rgi-star"><img src="../../assets/img/icons/star.png" alt=""></div>
							<div class="rgi-heart"><img src="../../assets/img/icons/heart.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Recent game section end -->


<!-- Tournaments section -->
<section class="tournaments-section spad">
	<div class="container">
		<div class="tournament-title">Free Games</div>
		<div class="row" *ngIf="epicNews && epicNewsCS">
			<div class="col-md-4" *ngFor="let eNews of epicNews">
				<a class="text-decoration-none" [href]="eNews['appUrl']" target="_blank">
					<div class="tournament-item mb-4 mb-lg-0">
						<div class="ti-notic">Free now</div>
						<div class="ti-content">
							<div class="ti-thumb set-bg"
								[ngStyle]="{ 'background-image': 'url(' + eNews['offerImageTall'] + ')'}"></div>
							<div class="ti-text">
								<h4>{{eNews['name']}}</h4>
								<ul>
									<li><span>{{eNews['originalPrice'] | currency}}</span></li>
								</ul>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-4" *ngFor="let eCSNews of epicNewsCS">
				<a [href]="eCSNews['appUrl']" target="_blank">
					<div class="tournament-item">
						<div class="ti-notic">Coming soon</div>
						<div class="ti-content">
							<div class="ti-thumb set-bg"
								[ngStyle]="{ 'background-image': 'url(' + eCSNews['offerImageTall'] + ')'}"></div>
							<div class="ti-text">
								<h4>{{eCSNews['name']}}</h4>
								<ul>
									<li><span>{{eCSNews['originalPrice'] | currency}}</span></li>
								</ul>
							</div>
						</div>
					</div>
				</a>

			</div>
		</div>
	</div>
</section>
<!-- Tournaments section bg -->

<!-- Review section -->
<section class="review-section spad set-bg" style="background-image: url(../../assets/img/review-bg.png);">
	<div class="container">
		<div class="section-title">
			<div class="cata new">new</div>
			<h2>Recent Reviews</h2>
		</div>
		<div class="row" *ngIf="gameReviews">
			<div class="col-lg-3 col-md-6" *ngFor="let rnews of gameReviews; let i = index">
				<div class="review-item" *ngIf="i < 4">
					<div class="review-cover set-bg" data-setbg="../../assets/img/review/1.jpg"
						Style="background-image: url(../../assets/img/G_Spot.jpg);">
						<div class="score yellow">{{rnews['score']}}</div>
					</div>
					<div class="review-text">
						<a [href]="sanitize(rnews['site_detail_url'].__cdata)" target="_blank">
							<h5>{{rnews['title'].__cdata}}</h5>
						</a>
						<p>{{rnews['deck'].__cdata}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Review section end -->